.c-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    display: none;
    &__bg {
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        position: fixed;
        width: 100%;
    }
    &__content {
        padding: 40px 60px;
        width: 90%;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1101;
        display: flex;
        align-items: center;
        overflow: scroll;
        @include mq() {
            display: block;
            width: 95%;
            height: 90vh;
            padding: 40px 20px;
        }
    }
    &__close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__wrap {
        display: flex;
        @include mq() {
            display: block;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        &-wrap {
            width: 60%;
            @include mq() {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    &__thumbnails {
        text-align: center;
        @include mq() {
            display: flex;
            justify-content: center;
        }
        & img {
            width: 150px;
            height: 100px;
            object-fit: cover;
            margin: 0 4px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            @include mq($breakpoint: md) {
                width: 100px;
                height: 80px;
            }
        }
    }
    &__text {
        width: 40%;
        max-width: 1000px;
        margin: 0 auto;
        @include mq() {
            width: 90%;
        }
    }
    &__title {
        font-size: $font-size_xl;
        text-align: center;
        margin: 16px 0;
        color: #535353;
        font-weight: bold;
        position: relative;
        & span {
            background: #fafafa;
            padding: 0 10px;
            position: relative;
            z-index: 5;
            }
        &::before {
            content: "";
            display: block;
            border-top: solid 1px #ddd;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: 1;
        }
    }
    &__description {
        margin: 20px 0;
        padding: 0 20px;
        color: #444444;
        line-height: 2;
        word-break: break-word;
        @include mq() {
            padding: 0;
        }
    }
    &__sub-title {
        font-size: $font-size_l;
        color: #535353;
        text-align: center;
        position: relative;
        &::before {
            content: "";
            display: block;
            border-top: solid 1px #ddd;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: 1;
        }
        & span {
            background: #fafafa;
            padding: 0 10px;
            position: relative;
            z-index: 5;
        }
    }
    &__link {
        color: $main-color;
        font-size: 0.8rem;
        line-height: 1.4;
        display: block;
        width:-moz-fit-content;
        width: fit-content;
        margin-bottom: 8px;
        &:hover {
            text-decoration: underline;
        }
        & img {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 8px;
        }
    }
}