.p-about {
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq($breakpoint: md) {
            display: block;
        }
    }
    &__img {
        min-width: 200px;
        @include mq($breakpoint: md) {
            width: 25%;
            margin: 0 auto;
        }
        @include mq($breakpoint: sm) {
            width: 50%;
        }
        & img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: solid 6px #4c76d5;
        }
    }
    &__intro {
        max-width: 1000px;
        width: 50%;
        line-height: 2;
        letter-spacing: 2px;
        font-size: 16px;
        padding: 30px;
        @include mq($breakpoint: md) {
            width: 90%;
            text-align: center;
            margin: 0 auto;
            font-size: $font-size_s;
        }
    }
}